body {
margin: 0;
}

#carousel {
    width: 350px;
    height: 300px;
    border: solid 2px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
    position: relative;
    overflow: hidden;
}

#carouselPano {
    margin: auto;
    width: 350px;
    height: 300px;
}
.photo {
    width: 350px;
    height: 300px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.bouton {
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 125px;
}

#g {
    left:0;
    opacity:0.5;
    transform :rotate(0deg)
}

#d {
    right:0;
    opacity:0.5;
    transform :rotate(180deg)
}

#g:hover {
    transform: rotate(0deg) scale(1.1);
    opacity:1;
}

#d:hover {
    transform: rotate(180deg) scale(1.1);
    opacity:1;
}