/*PRINCIPAL*/
body,
header,
section,
article {
  background-color: antiquewhite;
  box-sizing: border-box;
}
header {
  /* height: 40vh; */
  /* width: 100vw; */
  padding-bottom: 10px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
  font-family: Poppins, sans-serif;
  margin: 0;
}

/** CARROUSEL**/
.custom-slider {
  display: none;
}
.slide-container {
  /* max-width: 800px; */
  position: relative;
  margin: auto;
}
/* position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.6s ease;
}
.prev {
  left: 15px;
}
.next {
  right: 15px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.slide-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.slide-dot {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
/**fin nouveau carrousel**/

/**LOGO DU SITE*/
.logo img {
  /* position: relative; */
  /* width: 130px; */
  height: 60px;
  /* margin: 20px; */
  cursor: pointer;
  /* z-index: 2; */
}

/** Menu burger */
.side_burger {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: right 0.4s ease-in-out;
  background: transparent;
  z-index: 2;
  display: flex;
}

.side_burger.active {
  right: 0;
}

.side_burger ul {
  list-style: none;
  padding: 0;
}

.side_burger li {
  margin: 15px;
}
.side_burger li:hover {
  transform: scale(1.1);
  transition: 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  color: #613c3c;
}

.side_burger a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.brgr_container {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}

.burger_icon {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
}

.burger_icon span {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  transition: 0.4s;
}

.burger_icon span:nth-child(1) {
  top: 0;
}

.burger_icon span:nth-child(2) {
  top: 8px;
}

.burger_icon span:nth-child(3) {
  top: 16px;
}
.active span {
  position: absolute;
}
/* .active span:nth-child(1) 
.active span:nth-child(2)
.active span:nth-child(3) */
/**DESCRIPTION DU SITE*/
article {
  padding: 5px;
  margin: 30px;
  color: lightgray;
  border-top: 2px #613c3c solid;
  border-bottom: 2px #613c3c solid;
  font-size: small;
  &:hover {
    color: #613c3c;
    transition: 0.6s ease-in-out;
  }
}

/**TITRE PRINCIPAL*/
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: xx-large;
  font-weight: bold;
}

/**FILTRES DE RECHERCHE*/
.filter_searchBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
#filterButton {
  cursor: pointer;
  margin-left: auto;
  margin-right: 5%;
  padding-top: 6px;
}
label,
select,
option {
  visibility: hidden;
}
#searchBar {
  background-color: #ffffff;
  border: 2px #613c3c solid;
  border-radius: 5px;
  width: 60vw;
  height: 3vh;
  font-style: italic;
  color: lightgrey;
  margin-right: auto;
}

/**RUBRIQUE DU RESTAURANT*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 50px;
}
section img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.titleNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 20px;
}
.titleNote h2 {
  margin-left: 0 auto;
}
#star {
  color: gold;
  padding-left: 2px;
  font-size: 20px;
}
section h3 {
  font-size: small;
  font-weight: normal;
  color: #818181;
  margin: 0;
  padding: 0;
}
section p {
  padding: 5px 20px;
  line-height: 1.25;
  margin-bottom: 20px;
}
.bottomCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: medium;
  text-align: center;
  align-items: center;
}
.price {
  padding-left: 20px;
}

/**BOUTON DE RESERVATION*/
.btn2 {
  --size: 30px;
  position: relative;
  display: inline-flex;
  align-items: right;
  justify-content: flex-start;
  color: #613c3c;
  font-size: 15px;
  font-weight: bold;
  height: var(--size);
  padding-inline: 50px 35px;
  transition: color 0.5s;
  text-decoration: none;
  z-index: 3;
}
.btn2::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  background: #613c3c
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 41" width="25" height="15"><path d="M 33 2 L 48 20 L 33 38" stroke-width="6" stroke="rgb(255, 255, 255)" fill="none"/></svg>')
    left center no-repeat;
  transition: width 0.5s, background-position 0.5s;
}
.btn2::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
  height: var(--size);
  width: var(--size);
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 41" width="20" height="20"><path d="M 0 20 L 48 20" stroke-width="6" stroke="rgb(255, 255, 255)" class="btn__arrow-body" fill="none"/></svg>')
    left 0.5px center no-repeat;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
}
.btn2:hover {
  color: white;
}
.btn2:hover::before {
  width: 100%;
  background-position: left 14px center;
}
.btn2:hover::after {
  opacity: 1;
  transform: translateX(15px);
}

/**FOOTER**/
footer {
  background-color: black;
  color: white;
  /* width: 100%; */
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 10px; */
  text-align: center;
  margin-bottom: 3px;
}
footer ul li {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: inline-block;
}
footer h6 {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0;
}

/**MEDIA QUERIES**/

/* *DESKTOP **/
@media screen and (min-width: 768px) {
  /*DESKTOP - DESCRIPTION DU SITE*/
  article {
    padding: 5px;
    margin: 100px 150px;
    font-size: large;
    text-align: center;
  }

  /**DESKTOP - TITRE PRINCIPAL*/
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  /** DESKTOP - FILTRES DE RECHERCHE*/
  #filterButton {
    visibility: hidden;
  }
  .desktopFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  label,
  select,
  option {
    display: block;
    visibility: visible;
    min-height: 20px;
  }
  #filterType,
  #filterPrice {
    margin-right: 50px;
    height: 20px;
  }
  .desktopFilters label,
  .desktopFilters select {
    margin-right: 10px;
  }
  .desktopFilters option {
    margin-right: 5px;
  }
  #searchBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /**DESKTOP - RUBRIQUE DU RESTAURANT*/
  section {
    display: block;
    max-width: 100%;
    padding: 30px;
  }
  section img {
    float: left;
    height: 20vh;
    width: 30vw;
    object-fit: cover;
  }
  .titleNote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  section h2 {
    display: flex;
    margin: 0;
    padding-right: 40px;
  }
  section h3 {
    display: flex;
    font-size: small;
    font-weight: normal;
    color: #818181;
    margin: 0;
    padding-left: 20px;
  }
  section p {
    display: flex;
    margin: 0;
    padding-left: 20px;
    line-height: 1.25;
    padding-bottom: 25px;
  }
  section .bottomCard {
    display: flex;
    width: auto;
    margin-bottom: 100px;
  }

  /**DESKTOP - BOUTON DE RESERVATION*/
  .btn2 {
    --size: 30px;
    position: relative;
    display: inline-flex;
    align-items: right;
    justify-content: flex-start;
    color: #613c3c;
    font-size: 15px;
    font-weight: bold;
    height: var(--size);
    padding-inline: 50px 35px;
    transition: color 0.5s;
    text-decoration: none;
    z-index: 3;
  }
  .btn2::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background: #613c3c
      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 41" width="25" height="15"><path d="M 33 2 L 48 20 L 33 38" stroke-width="6" stroke="rgb(255, 255, 255)" fill="none"/></svg>')
      left center no-repeat;
    transition: width 0.5s, background-position 0.5s;
  }
  .btn2::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    height: var(--size);
    width: var(--size);
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 41" width="20" height="20"><path d="M 0 20 L 48 20" stroke-width="6" stroke="rgb(255, 255, 255)" class="btn__arrow-body" fill="none"/></svg>')
      left 0.5px center no-repeat;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
  }
  .btn2:hover {
    color: white;
  }
  .btn2:hover::before {
    width: 100%;
    background-position: left 14px center;
  }
  .btn2:hover::after {
    opacity: 1;
    transform: translateX(15px);
  }
}

/** PRINTER */
@media print {
}
